@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

body {
  font-family: Kumbh sans, sans-serif;
}

li {
  list-style-type: none;
}

li {
  color: hsl(220, 14%, 75%);
  font-weight: 600;
}

li:hover {
  cursor: pointer;
}

.header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-block: 25px;
}

.header-content-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 20px;
}

.menu-toggle {
  display: none;
}

.desktop-navs {
  display: none;
}

.dropdown {
  font-size: 25px;
  color: hsl(222, 49%, 85%);
}

.mobile-navs {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 100px;
  width: 200px;
  height: 100%;
  display: none;
  background: #fff;
}

.mobile-navs ul {
  margin-top: 70px;
}

.mobile-navs li {
  color: black;
  font-weight: 700;
  padding-block: 10px;
}

.menu-toggle:checked ~ .mobile-navs {
  display: flex;
}

.close-btn {
  position: absolute;
  top: 0px;
  left: 30px;
  right: 0px;
  font-size: 36px;
  color: black;
  cursor: pointer;
}

.image-avatar {
  width: 40px;
  height: 40px;
}

.image-avatar:hover {
  cursor: pointer;
}

.nav-btns {
  position: absolute;
  display: flex;
  padding-inline: 3px;
  top: 250px;
  gap: 260px;
}

.mobile-next-btn, .mobile-prev-btn {
  margin: 0 auto;
}

.mobile-next-btn, .mobile-prev-btn, .prev-btn, .next-btn {
  padding-inline: 13px;
  padding-block: 10px;
  border: 1px solid #fff;
  background-color: white;
  border-radius: 100%;
}

.prev-btn, .next-btn{
  position: relative;
}

.prev-btn {

  right: 175px;
  top: 200px;
}

.next-btn {
  left: 175px;
  top: 240px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cart-icon {
  font-size: 40px;
  position: relative;
  z-index: 10;
}

.cart-icon:hover {
  cursor: pointer;
}

.description {
  width: 350px;
  margin: 0 auto;
}

.product {
  width: inherit;
  display: flex;
  flex-direction: column;
}

.mobile-shoe-image {
  width: 100%;
  height: 330px;
  padding-bottom: 20px;
  position: relative;
}

.product-name {
  font-size: 12px;
  color: hsl(219, 9%, 45%);
  font-weight: 700;
  letter-spacing: 1px;
}

h1 {
  font-size: 36px;
}

.about-product {
  color: hsl(219, 9%, 45%);
  margin-bottom: 25px;
  line-height: 25px;
}

.pricing {
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: 25px;
  font-weight: 700;
}

.discount {
  padding-inline: 8px;
  padding-block: 5px;
  border-radius: 7px;
  margin-left: 20px;
  background-color: black;
  color: #fff;
}

.prev-price {
  color: hsl(219, 9%, 45%);
  font-weight: 700;
}

.prev-price {
  color: hsl(219, 9%, 45%);
  font-weight: 700;
}

.count-btns {
  display: flex;
  margin-bottom: 15px;
}

.increase-btn,
.decrease-btn,
.value {
  border: none;
  background-color: hsl(223, 64%, 98%);
  width: 350px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
}

.decrease-btn,
.increase-btn {
  color: hsl(26, 100%, 55%);
}

.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 350px;
  height: 50px;
  border: 1px solid hsl(26, 100%, 55%);
  border-radius: 10px;
  background-color: hsl(26, 100%, 55%);
}

.lightbox-img-1:hover,
.increase-btn:hover,
.decrease-btn:hover,
.cart-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.mobile-cart-btn {
  width: 350px;
  height: 50px;
}

.desktop-cart-btn {
  display: none;
}

.cart-btn img {
  color: black;
}

.cart-icon {
  color: #fff;
}

.lightbox-imgs {
  display: none;
}

.cart-icon {
  position: relative;
}

.cart-container {
  position: absolute;
  top: 60px;
  left: -230px;
  width: 280px;
  height: 200px;
  /* padding-block: 10px; */
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
}

.cart-container.show {
  display: block;
}

.cart {
  color: black;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1.5px solid hsl(221, 31%, 88%);
}

.container-content {
  text-align: center;
  font-size: 16px;
  color: hsl(221, 31%, 88%);
}

.product-display {
  width: 250px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 25px;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}

.total-price {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.824);
  height: 40px;
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.checkout-btn {
  display: none;
  font-size: 18px;
  font-weight: 700;
}

.checkoutbtn {
  display: block;
  margin: 0 auto;
  margin-top: -30px;
  width: 240px;
  height: 40px;
  border: 1px solid hsl(26, 100%, 55%);
  border-radius: 10px;
  background-color: hsl(26, 100%, 55%);
}

.product-display .cart-product {
    border-radius: 8px;
  }

   .products-added {
    width: 200px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

.display-total {
  display: flex;
  gap: 5px;
}
@media (min-width: 768px) {
  .header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-block: 25px;
    border-bottom: 1.5px solid hsl(221, 31%, 88%);
  }
  .header-content-1 {
    width: 60%;
    display: flex;
    align-items: center;
  }

  .dropdown {
    display: none;
  }

  .desktop-navs {
    display: block;
  }

  .desktop-navs .navs ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
  }

  .image-avatar {
    width: 60px;
    height: 60px;
    margin-left: 20px;
  }

  .nav-btns {
    display: none;
  }

  .product {
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
  }

  .product-imgs {
    width: 400px;
    height: 600px;
  }

  .lightbox-imgs {
    /* margin-top: 0px; */
    display: flex;
    justify-content: space-around;
  }

  .lightbox-img:hover {
    border: 4px solid hsl(26, 100%, 55%);
    opacity: 0.5;
  }

  .lightbox-imgs img {
    width: 80px;
    border-radius: 10px;
  }

  .shoe-image {
    width: 400px;
    height: 430px;
    border-radius: 13px;
  }

  .preview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    position: fixed;
    top: 0;
    left: 0;
    right: 600px;
    background: rgba(0, 0, 0, 0.65);
    padding: 1rem;
    z-index: 100;
  }

  .preview-lightbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }

  .preview-lightbox img {
    width: 10%;
    border-radius: 10px;
  }

  .cart-icon {
    position: relative;
  }

  .cart-container {
    position: absolute;
    top: 60px;
    right: 0;
    width: 300px;
    height: 200px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
  }

  .cart-container.show {
    display: block;
  }

  .close-thumbnail {
    top: 0px;
    position: absolute;
    /* left: 150px; */
  }

  .close-thumbnail:hover {
    color: #fff;
  }

  .total-price {
    width: 100px;
    height: 30px;
    display: flex;
    gap: 5px;
  }

  .product-description {
    width: 200px;
    display: flex;
    flex-direction: column;
  }

  .cart {
    color: black;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1.5px solid hsl(221, 31%, 88%);
  }

  .container-content {
    text-align: center;
    font-size: 16px;
    color: hsl(221, 31%, 88%);
  }

  .description {
    width: 430px;
  }

  .discount {
    padding-inline: 8px;
    padding-block: 5px;
    border-radius: 7px;
    margin-left: 20px;
    background-color: black;
    color: #fff;
  }

  .pricing {
    display: initial;
  }

  .prev-price {
    color: hsl(219, 9%, 45%);
    font-weight: 700;
  }

  .count-btns {
    display: flex;
  }

  .increase-btn,
  .decrease-btn,
  .value {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    border: none;
    background-color: hsl(223, 64%, 98%);
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
  }

  .decrease-btn,
  .increase-btn {
    color: hsl(26, 100%, 55%);
  }

  .mobile-cart-btn {
    display: none;
  }

  .desktop-cart-btn {
    display: block;
  }

  .cart-btn {
    width: 270px;
    height: 45px;
    margin-left: 10px;
    border: 1px solid hsl(26, 100%, 55%);
    border-radius: 10px;
    background-color: hsl(26, 100%, 55%);
  }

  .cart-btn img {
    color: black;
  }
}
